body {
  background-color: rgb(34, 34, 34);
  color: yellow;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.date-timer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 350px;
  border: 4px solid rgb(119, 118, 118);
  border-radius: 20px;
}

.date-timer__month {
  position: absolute;
  left: 40px;
  transform: translateY(-60%);
  display: flex;
  font-size: 25px;
  padding: 0 10px;
  z-index: 100;
  background-color: rgb(34, 34, 34);
  transition: 0.3s;
}

.date-timer__month.active-stopwatch {
  display: none;
}

.date-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 60px;
  color: rgb(138, 139, 129);
}

.date-block__item {
  text-align: center;
}

.date-block__counter {
  display: flex;
  margin-bottom: 10px;
}

.date-block__counter>* {
  display: flex;
  width: 70px;
  height: 120px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.date-block__counter>*:not(:last-child) {
  margin-right: 5px;
}

.date-block__sub {
  font-size: 30px;
  color: yellow;
}

.date-timer__ledge {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transform: translateY(100%);
}

.ledge {
  font-size: 18px;
  padding: 8px 12px;
  border: 4px solid rgb(119, 118, 118);
  border-top-style: none;
  border-radius: 0 0 20px 20px;
  cursor: pointer;
  transition: 0.5s;
}

.ledge.active-stopwatch:hover,
.ledge.ledge-stopwatch:hover {
  opacity: 0.6;
}

.ledge.active-stopwatch {
  opacity: 0.3;
}

.ledge.ledge-stopwatch {
  opacity: 0.3;
}

.ledge.ledge-stopwatch.active-stopwatch {
  opacity: 1;
}

.date-timer__buttons {
  display: none;
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 7%;
  justify-content: center;
}

.date-timer__buttons.active-stopwatch {
  display: flex;
}


.button-container {
  justify-content: center;
}

.button {
  width: 30px;
  height: 30px;
  color: yellow;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button-start {
  background: yellow;
  clip-path: polygon(0 0,
      50% 25%,
      50% 75%,
      50% 75%,
      50% 25%,
      100% 50%,
      100% 50%,
      0 100%);
}

.button-start.button-pause {
  clip-path: polygon(0 0,
      40% 0,
      40% 100%,
      60% 100%,
      60% 0,
      100% 0,
      100% 100%,
      0 100%);
}

.button:not(:last-child) {
  margin-right: 40px;
}

.button-reset {
  font-size: 30px;
}

.button-reset.reset-active {
  pointer-events: none;
  opacity: 0.5;
}

.button-reset.reset-animation {
  transform: rotateZ(360deg);
}