body {
  background-color: rgb(34, 34, 34);
  color: yellow;
}

.date-timer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 300px;
  border: 4px solid rgb(119, 118, 118);
  border-radius: 20px;
}

.date-timer__month {
  position: absolute;
  left: 40px;
  transform: translateY(-60%);
  display: flex;
  font-size: 25px;
  padding: 0 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  z-index: 100;
  background-color: rgb(34, 34, 34);
}

.date-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  color: rgb(138, 139, 129);
  font-weight: 700;
}

.date-block__item {
  text-align: center;
}

.date-block__counter {
  display: flex;
  margin-bottom: 10px;
}

.date-block__counter>* {
  display: flex;
  width: 70px;
  height: 120px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.date-block__counter>*:not(:last-child) {
  margin-right: 5px;
}

.date-block__sub {
  font-size: 30px;
  color: yellow;
}

.date-timer__ledge-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transform: translateY(100%);
}

.date-timer__ledge {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 12px;
  opacity: 0.3;
  border: 4px solid rgb(119, 118, 118);
  border-top-style: none;
  border-radius: 0 0 20px 20px;
  cursor: pointer;
  transition: 0.5s;
}

.date-timer__ledge:hover,
.date-timer__ledge:focus {
  opacity: 0.6;
}

.date-timer__ledge.active-date-ledge {
  opacity: 1;
}